package datacap

import (
    "golang.org/x/xerrors"

	"github.com/ipfs/go-cid"

    "github.com/post-quantumqoin/address"
    "github.com/post-quantumqoin/core-types/abi"
    actorstypes "github.com/post-quantumqoin/core-types/contracts"
    builtin{{.latestVersion}} "github.com/post-quantumqoin/core-types/builtin"
    "github.com/post-quantumqoin/core-types/cbor"

    "https://github.com/post-quantumqoin/qoin-shor/core/contracts"
    "github.com/post-quantumqoin/qoin-shor/core/contracts/adt"
    "github.com/post-quantumqoin/qoin-shor/core/types"
	"github.com/post-quantumqoin/core-types/manifest"
)

var (
	Address = builtin{{.latestVersion}}.DatacapActorAddr
	Methods = builtin{{.latestVersion}}.MethodsDatacap
)

func Load(store adt.Store, act *types.Actor) (State, error) {
	if name, av, ok := actors.GetActorMetaByCode(act.Code); ok {
       if name != manifest.DatacapKey {
          return nil, xerrors.Errorf("actor code is not datacap: %s", name)
       }

       switch av {
            {{range .versions}}
                case actorstypes.Version{{.}}:
                     return load{{.}}(store, act.Head)
            {{end}}
       }
	}

	return nil, xerrors.Errorf("unknown actor code %s", act.Code)
}

func MakeState(store adt.Store, av actorstypes.Version, governor address.Address, bitwidth uint64) (State, error) {
	switch av {
{{range .versions}}
	case actorstypes.Version{{.}}:
		return make{{.}}(store, governor, bitwidth)
{{end}}
	default: return nil, xerrors.Errorf("datacap actor only valid for actors v9 and above, got %d", av)
    }
}

type State interface {
	cbor.Marshaler

    Code() cid.Cid
    ActorKey() string
    ActorVersion() actorstypes.Version

	ForEachClient(func(addr address.Address, dcap abi.StoragePower) error) error
	VerifiedClientDataCap(address.Address) (bool, abi.StoragePower, error)
	Governor() (address.Address, error)
	GetState() interface{}
}

func AllCodes() []cid.Cid {
	return []cid.Cid{ {{range .versions}}
        (&state{{.}}{}).Code(),
    {{- end}}
    }
}
